body{
    background: rgb(255, 217, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width:500px ;
    margin:40px auto;
    }

.search{
    display:block;
    margin:auto;
    width:80%;
    height:40px;
    text-align: center;
    font-size:2em;
}
.suggestions{
    list-style:none;
    width:70%;
    margin:auto;
    padding:0;    
}
li{
    position: relative;
    background:rgb(230, 230, 230);
    padding:0.7em 1em;
    color:rgb(68, 68, 68);
    border:1px solid rgb(68, 68, 68,0.5);
    clip:rect(0px,60px,200px,0px);
}
.name{
text-transform: capitalize;
}
.population{
    float:right;
}